﻿@model WEB_SITE_BANHANG.Models.Category

<h1>Delete Category</h1>

<p>Are you sure you want to delete the category: @Model.Name?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<a asp-action="Index">Back to List</a>