﻿@model WEB_SITE_BANHANG.Models.Product
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-container">
    <h2>@Model.Name</h2>
    <h3>Price: @Model.Price</h3>
    <p>@Model.Description</p>
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Model.ImageUrl" alt="Product Image" class="product-image" />
    }
</div>

<a asp-action="Index" class="back-link">Back to List</a>
